# Dependencies
node_modules/

# Environment Variables (Sangat Penting!)
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files (Opsional tapi bagus)
.DS_Store
Thumbs.db

# Folder build (Jika ada)
dist/
build/